<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Personas</title>

    <!-- Agrega los enlaces a Bootstrap, iziToast y SweetAlert2 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Agrega el enlace a tu archivo JS personalizado -->
    <script src="../js/persona.js"></script>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">CRUD de Personas</h2>

    <!-- Formulario de Creación/Edición -->
    <form id="personaForm">
        <input type="hidden" id="personaId">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" required>
        </div>

        <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" class="form-control" id="edad">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" required>
        </div>

        <button type="button" class="btn btn-primary" onclick="guardarPersona()">Guardar</button>
    </form>

    <!-- Tabla de Personas -->
    <table class="table mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody id="tablaPersonas"></tbody>
    </table>
</div>

<!-- Agrega los enlaces a Bootstrap, iziToast y SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>
